@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #d4d4d4;/*#aaa;*/
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  line-height: 80px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
  width: 100%;
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #1d7bbb;/*#3397DB;*/
  align-items: center;
}
.filter-options h2 {
  display: inline-block;
  float: left;
  line-height: 50px;
  color: white;
  font-size: 0.8rem;
  font-weight: normal;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 32px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 25%;
  float: right;
}
.filter-options label {
  display: none;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  font-family: Arial,sans-serif;
  margin: 0 0 15px 0;
  min-height: 380px;
  width: 100%;
}
#restaurants-list .restaurant-holder {
  padding: 0 10px;
}
#restaurants-list .restaurant-inner {
  text-align: left;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 20px 30px 25px;

}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  /*min-height: 248px;*/
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #9a5300;/*#f18200*/;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #333;/*#fff;*/
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  position: fixed;
  height: 170px;
  right: 0;
  left: 0;
  top: 130px;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
#restaurant-name {
  display: inline-block;
  font-size: 18pt;
  line-height: 60px;
  margin: 0;
  color: #f18200;
  font-family: Arial,sans-serif;
  /*font-size: 20pt;*/
  font-weight: 200;
  letter-spacing: 0;
  /*margin: 15px 0 30px;*/
  text-transform: uppercase;
  /*line-height: 1.1;*/
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 320px 0 30px;
  width: 100%;
}
#reviews-container {
  padding: 30px 0 80px;
}
#restaurant-container .restaurant-container-box,
#reviews-container .reviews-container-box {
  padding: 0 25px;
}
#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  /*background-color: #fff;*/
  /*border: 2px solid #f3f3f3;*/
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}
#reviews-list li .reviews-item-header {
  background: #252831;
  padding: 15px 20px 15px 20px;
  color: #fff;
  border-top-left-radius: 20px;
}
#reviews-list li .reviews-item-body {
  background: #fff;
  padding: 15px 20px 15px 20px;
  border-bottom-right-radius: 20px;
}
#reviews-list li .name {
  font-weight: 900;
  font-size: 1.05rem;
}
#reviews-list li .date {
  font-weight: 300;
  float: right;
}
#reviews-list li .rating {
  display: inline-block;
  background: #f58500;
  border-radius: 3px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/* ====================== Icon favorite ====================== */
.icon {
  display: block;
  width: 50px;
  height: 50px;
  float: right;
  margin: 5px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.icon.icon-favorite {
  background-image: url('../img/icons/favorite.svg');
}
.icon.icon-favorite.full {
  background-image: url('../img/icons/favorite-full.svg');
}

/* ====================== Responsive ====================== */
@media all and (min-width: 480px) { /* S */
  /*#maincontent {
    max-width: 460px;
    margin: 0 auto;
  }*/
  .filter-options h2 {
    font-size: 0.8rem;
  }
  .filter-options select {
    width: 33.33%;
  }
  .inside #map-container {
    height: 240px;
  }
  #restaurant-container {
    padding-top: 390px;
  }
}
@media all and (min-width: 768px) { /* M */
  #breadcrumb {
    width: calc(50% - 80px);
  }
  .filter-options h2 {
    display: inline-block;
    float: left;
    line-height: 50px;
    font-size: 1rem;
  }
  .filter-options select {
    float: right;
  }
  #restaurants-list {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
  }
  #restaurants-list li {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .inside #map-container {
    left: initial;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 50%;
    height: auto;
  }
  #restaurant-container {
    padding-top: 140px;
  }
  #restaurant-container, #reviews-container {
    width: 50%;
  }
}
@media all and (min-width: 1024px) { /* L */
  #restaurants-list li {
    width: 33.33%;
  }
}
@media all and (min-width: 1200px) { /* XL */
  #restaurants-list li {
    width: 25%;
  }
}